.main{
    display: flex;
    align-items: center;
}
.head{
    font-size: 25px;
    background-color:  #406a90;
    color: white;
    width: 50%;
    padding: 12px;
    margin-top: 100px;
}
.about-us-text{
    background-color: white;
    padding: 12px;
    width: 50%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.text{
    margin-top: 15px;
    font-size: 20px;
    color: black;
}
.text-top{
    font-size: 20px;
    color: black;
}
.img-plane{
    height: 550px;
    width: 350px;
    margin-left: 350px;
    margin-top: 90px;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.plane-air{
    background-image: url("../pics/image 1-Photoroom (1).png");
    background-repeat: no-repeat;
    background-size: 1537px 750px;
}
