.navbar {
    display: flex;
    justify-content: center;
}

.wrapper{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 400px;
    color: white;
    border-radius: 50px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    transition: all 0.6s ease-in-out;
}
#active:checked ~ .wrapper{
    right:0;
}
.menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid rgb(174, 56, 56);
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-about span,
.menu-about:before,
.menu-about:after{

    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);

}



.menu-btn:before{
    transform: translateY(-8px);
}
.menu-btn:after{
    transform: translateY(8px);
}


.close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .6s;
}

#active:checked + .menu-btn span {
    transform: scaleX(0);
}
#active:checked + .menu-btn:before {
    transform: rotate(45deg);
    border-color: #fff;
}
#active:checked + .menu-btn:after {
    transform: rotate(-45deg);
    border-color: #fff;
}
.wrapper ul{
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}
.wrapper ul li{
    height: 10%;
    margin: 15px 0;
}
.wrapper ul li a{
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: black;
    border-radius: 50px;
    line-height: 50px;
    margin: 5px 30px;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper ul li a:after{
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
    transform: scaleY(1);
}
.wrapper ul li a:hover{
    color: #1a73e8;
}
input[type="checkbox"]{
    display: none;
}
/**********************************************************************************/

.login-body {
    background-size: cover;
    background-image: url("../pics/clouds.jpg");
    background-repeat: no-repeat;

}

.login-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    height: 600px;
    width: 600px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

