.main{
    display: flex;
    align-items: center;
}
.head{
    font-size: 25px;
    background-color:  #9096BA;
    color: white;
    width: 25%;
    padding: 12px;
    margin-top: 200px;
}
.about-us-text{
    background-color: white;
    padding: 12px;
    width: 25%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.text{
    margin-top: 15px;
    font-size: 15px;
    color: black;
}
.text-top{
    font-size: 15px;
    color: black;
}
.img-plane{
    height: 550px;
    width: 350px;
    margin-left: 350px;
    margin-top: 90px;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
body{
    background-image: url("../pics/plane-horo.jpg");
    background-repeat: no-repeat;
    background-size: 1540px 550px;
}
